* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
/* pake root biar ga ribet nanti bikin section section selanjutnya kalo mw ngatur ukuran
seperti biasa manggilnya make var(--sec-color) kek gitulah */
:root {
  --text-color: #fff;
  --second-color: #ccc;
  --main-color: #4d6199;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
  --second-bg: linear-gradient(245.59deg, #202a49 0%, #385a70 27.59%, #3d4e7e 75.52%);
}

body {
  background: linear-gradient(245.59deg, #4d6199 0%, #385a70 27.59%, #131c39 75.52%);
  color: #fff;
}
header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: transparent;
}
header.sticky {
  background: rgba(19, 28, 57, 0.7);
  border-bottom: 1px solid #131c39;
  padding: 12px 15%;
  transition: 0.3s;
}
.logo {
  font-family: 'Major Mono Display', monospace;
  font-size: 30px;
  font-weight: 700;
  color: white;
}
.navlist {
  display: flex;
}
.navlist a {
  color: white;
  margin-left: 60px;
  font-weight: 600;
  font-size: 15px;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}
.navlist a:hover {
  border-bottom: 2px solid white;
}

#menu-icon {
  color: white;
  font-size: 30px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
span {
  color: #4d6199;
}
/* hero pej */
.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  /* background: linear-gradient(245.59deg, #4d6199 0%, #385a70 27.59%, #131c39 75.52%); */
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
section {
  padding: 0 19%;
}

.hero-text h5 {
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin-bottom: 40px;
}

.hero-text h1 {
  font-family: 'Major Mono Display', monospace;
  font-size: 80px;
  line-height: 1;
  color: white;
  margin: 0 0 45px;
}

.hero-text h4 {
  font-size: 28px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}

.hero-text p {
  color: white;
  font-size: 15px;
  line-height: 1.9;
  margin-bottom: 40px;
}
.hero-img img {
  width: 700px;
  height: auto;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* display: inline-block;
  color: white;
  background: #4d6199;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all 0.55s ease; */
}

.btn {
  display: inline-block;
  color: white;
  background: #4d6199;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all 0.55s ease;
}

.btn:hover {
  background: transparent;
  border: 1px solid white;
  transform: translateX(8px);
}

.button a {
  margin-left: 20px;
}
.button a i {
  vertical-align: middle;
  margin-right: 5px;
}
/* about seksion */
.tentang {
  display: grid;
  padding: 150px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}
.tentang-img img {
  max-width: 530px;
  height: auto;
  width: 100%;
  border-radius: 8px;
}

.tentang-text h2 {
  font-size: 48px;
  line-height: 1;
}
.tentang-text h4 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 30px;
}
.tentang-text p {
  color: #ccc;
  font-size: var(--p-font);
  line-height: 1.7;
  margin-bottom: 4rem;
}

.main-text {
  text-align: center;
}
.main-text p {
  color: var(--second-color);
  font-size: 15px;
  margin-bottom: 15px;
}
.main-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
}
/* edukasion */
.education-data {
  /* border:1px solid red; */

  /* justify-content: space-between;
  align-items: center; */
  background: linear-gradient(245.59deg, #202a49 0%, #385a70 27.59%, #3d4e7e 75.52%);
  position: relative;
  font-weight: var(--font-semi);
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  transition: 1s ease;
}

.education-name {
  margin: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  color: var(--text-color);
}
.education-platform {
  margin: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

.education-duration {
  margin: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  color: var(--second-color);
}

.education-data:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
}
/* skills seksion */
.skills {
  padding: 150px;
}
.skills-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 1.5rem;
  margin-top: 5rem;
}
.box {
  background: linear-gradient(380.59deg, #2d3961 0%, #385a70 27.59%, #3d4f7e 75.52%);
  padding: 35px 45px;
  border-radius: 8px;
  transition: all 0.45s ease;
  transform-style: preserve-3d;
}
.s-icons i {
  font-size: 32px;
  margin-bottom: 20px;
}
.box h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 15px;
  transform: translate3d(0, 0, 50px);
}
.box p {
  color: var(--second-color);
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 25px;
  transform: translate3d(0, 0, 75px);
}
.box:hover {
  transform: translateY(-8px);
  cursor: pointer;
}
.read {
  display: inline-block;
  padding: 8px 18px;
  background: #2d3858;
  color: var(--second-color);
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.45s ease;
  transform: translate3d(0, 0, 90px);
}
.read:hover {
  letter-spacing: 1px;
  background: #4c5a81;
  color: var(--text-color);
}

/* portfolio */
portfolio {
  padding-top: 100px;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 4rem;
}

.boxxy {
  height: 450px;
  width: auto;
  border-radius: 10px;
  transition: all 0.8s;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  position: relative;
  cursor: pointer;
}

.box-atu {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(38, 13, 53, 0.658)), url('../img/tourntrav.png') center center no-repeat;
  background-size: 500px;
  /* width: 500px;
  height: auto; */
}
.box-atu:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(38, 13, 53, 0.658)), url('../img/tourntrav.png') left center no-repeat;
  background-size: 600px;
}
.box-ua {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(38, 13, 53, 0.658)), url('../img/pengadu.png') center center no-repeat;
  background-size: 500px;
}
.box-ua:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(38, 13, 53, 0.658)), url('../img/pengadu.png') left center no-repeat;
  background-size: 600px;
}
.box-iga {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(38, 13, 53, 0.658)), url('../img/husrepai.png') center center no-repeat;
  background-size: 500px;
}
.box-iga:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(38, 13, 53, 0.658)), url('../img/husrepai.png') left center no-repeat;
  background-size: 600px;
}
.box-pat {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(38, 13, 53, 0.658)), url('../img/busrep.png') center center no-repeat;
  background-size: 500px;
}
.box-pat:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(38, 13, 53, 0.658)), url('../img/busrep.png') left center no-repeat;
  background-size: 600px;
}
.box-ima {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(38, 13, 53, 0.658)), url('../img/ionix.png') center center no-repeat;
  background-size: 500px;
}
.box-ima:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(38, 13, 53, 0.658)), url('../img/ionix.png') left center no-repeat;
  background-size: 600px;
}
.box-nam {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(38, 13, 53, 0.658)), url('../img/finata.png') center center no-repeat;
  background-size: 500px;
}
.box-nam:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(38, 13, 53, 0.658)), url('../img/finata.png') left center no-repeat;
  background-size: 600px;
}

.inner {
  position: absolute;
  bottom: 45px;
  left: 35px;
  transition: height 0, 5s;
}

.inner h6 {
  color: #c6c9d8;
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 500;
  margin-bottom: 10px;
}

.inner h3 {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 10px;
}

.inner button {
  background-color: #323d5e;
  border: 2px solid #323d5e;
  color: white;
  padding: 7px 22px;
  border-radius: 5px;
  cursor: pointer;
}
/* */

/* kontak sy */

.contact {
  background: rgba(32, 42, 73 0.5);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
  padding: 150px;
}

.contact-text h4 {
  color: var(--text-color);
  margin: 18px 0;
  font-size: 20px;
  font-weight: 600;
}

.contact-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
}

.contact-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 30px;
}

.list {
  margin-bottom: 12px;
}

.list li {
  margin-bottom: 12px;
}

.list li a {
  display: block;
  color: var(--second-color);
  font-size: 14px;
  transition: all 0.45s ease;
}

.list li a:hover {
  color: var(--text-color);
  transform: translateX(5px);
}

.contact-icons i {
  height: 45px;
  width: 45px;
  background: var(--main-color);
  color: var(--text-color);
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 15px;
  transition: all 0.45s ease;
}

.contact-icons i:hover {
  background: var(--text-color);
  color: var(--main-color);
}

.contact-form form {
  position: relative;
}

.contact-form form input,
form textarea {
  width: 100%;
  padding: 14px;
  background: rgba(19, 28, 57, 0.7);
  color: var(--text-color);
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.contact-form textarea {
  resize: none;
  height: 240px;
}

.contact-form .submit {
  display: inline-block;
  font-size: 16px;
  background: var(--second-bg);
  color: var(--text-color);
  width: 160px;
  transition: all 0.45s ease;
}

.contact-form .submit:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* akhirnya footer juga */
.end {
  padding: 20px 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background: #131c39;
}
.last-text p {
  color: var(--second-color);
  font-size: 14px;
}
.baleklg i {
  padding: 10px;
  border-radius: 8px;
  font-size: 15px;
  color: var(--text-color);
  background: #323d5e;
}

/* icons */
.icons {
  position: absolute;
  top: 50%;
  padding: 0 9%;
  transform: translateY(-50%);
}

.icons i {
  display: block;
  margin: 26px 0;
  font-size: 24px;
  color: white;
  transition: all 0.5s ease;
}

.icons i:hover {
  color: #4d6199;
  transform: translateY(-5px);
}

.scroll-down {
  position: absolute;
  bottom: 6%;
  right: 9%;
}

.scroll-down i {
  display: block;
  padding: 12px;
  font-size: 25px;
  color: white;
  background: rgba(120, 176, 166, 0.7);
  border-radius: 30px;
  transition: all 0.5s ease;
}

.scroll-down i:hover {
  transform: translateY(5px);
}

/* biar responsip */
@media (max-width: 1535px) {
  header {
    padding: 15px 3%;
    transition: 0.2s;
  }
  .icons {
    padding: 0 3%;
    transition: 0.2s;
  }
  .scroll-down {
    right: 3%;
    transition: 0.2s;
  }
}

@media (max-width: 1460px) {
  section {
    padding: 0 12%;
    transition: 0.2s;
  }

  .end {
    padding: 15px 3%;
  }
}

@media (max-width: 1340px) {
  .hero-img img {
    width: 100%;
    height: auto;
  }
  .hero-text h1 {
    font-size: 60px;
    margin: 0 0 30px;
  }
  .hero-text h5 {
    margin-bottom: 25px;
  }
  .tentang-img img {
    width: 100%;
    height: auto;
  }
  .tentang-text h1 {
    font-size: 60px;
    margin: 0 0 30px;
  }
  .tentang-text h5 {
    margin-bottom: 25px;
  }
}

@media (max-width: 1195px) {
  :root {
    --big-font: 4rem;
    --h2-font: 2.5rem;
    --p-font: 1rem;
    transition: 0.1s;
  }
  section {
    padding: 0 3%;
    transition: 0.2s;
  }
  .hero-text {
    padding-top: 115px;
  }
  .hero-img {
    text-align: center;
  }
  .hero-img img {
    width: 560px;
    height: auto;
  }
  .hero {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .tentang-text {
    padding-top: 115px;
  }
  .tentang-img {
    text-align: center;
  }
  .tentang-img img {
    width: 560px;
    height: auto;
  }
  .tentang {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .icons {
    display: none;
  }
  .scroll-down {
    display: none;
  }
}

@media (max-width: 990px) {
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    top: 100px;
    right: -100%;
    width: 300px;
    height: 40vh;
    background: #4d6199;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all 0.55s ease;
  }
  .navlist a {
    margin-left: 0;
    display: block;
    margin: 7px 0;
  }
  .navlist.open {
    right: 0;
  }

  .about {
    grid-template-columns: 1fr;
  }
  .about-img {
    text-align: center;
    order: 2;
  }
  .about-img img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  .contact {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 40px;
  }
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}

@media (max-width: 990px) {
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    top: 100px;
    right: -100%;
    width: 300px;
    height: 40vh;
    background: #4d6199;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all 0.55s ease;
  }
  .navlist a {
    margin-left: 0;
    display: block;
    margin: 7px 0;
  }
  .navlist.open {
    right: 0;
  }

  .about {
    grid-template-columns: 1fr;
  }
  .about-img {
    text-align: center;
    order: 2;
  }
  .about-img img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  .contact {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 680px) {
  .hero-img img {
    width: 100%;
    height: auto;
  }
  .tentang-img img {
    width: 100%;
    height: auto;
  }
}
